include *.md
include *.cfg
include *.cfg.dist
include *.txt
include tox.ini
include cowrie/output/*.md
include cowrie/test/*.json
include cowrie/test/*.cfg
include data/*.pickle
include data/userdb.txt
graft dl
graft doc
graft etc
graft honeyfs
include log/tty/.gitignore
exclude log/*.txt
exclude log/*.json
exclude log/*.json*
graft share
graft txtcmds
graft var
